adf_resource/pipeline/callTheFile2DeltaTable.json
{
	"name": "callTheFile2DeltaTable",
	"properties": {
		"activities": [
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set brand",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflowAdlsGen2Delta_Test",
						"type": "DataFlowReference",
						"datasetParameters": {
							"sourceOrder": {
								"brand": {
									"value": "@variables('brand')",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set brand",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "brand",
					"value": "goodsA"
				}
			}
		],
		"variables": {
			"brand": {
				"type": "String"
			}
		},
		"annotations": []
	}
}