adf_resource/pipeline/test_param.json
{
	"name": "test_param",
	"properties": {
		"activities": [
			{
				"name": "test_param",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.nike.dqDataMonitor.showString",
					"parameters": [
						"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
					],
					"libraries": [
						{
							"jar": "dbfs:/FileStore/jars/test.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "lorealv4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "date",
					"value": {
						"value": "@formatDateTime(convertTimeZone(getPastTime(0, 'Day'), 'UTC', 'China Standard Time'),'yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "loreal_test1",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.hypers.etl.core.Application",
					"parameters": [
						"/dbfs/FileStore/test/globalConfig.yaml",
						"/dbfs/FileStore/yaml/first_order.yaml",
						"@formatDateTime(convertTimeZone(getPastTime(1, 'Day'), 'UTC', 'China Standard Time'),'yyyyMMdd')",
						"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
					],
					"libraries": [
						{
							"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "lorealv4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "test_param_copy1",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "test_param",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.nike.dqDataMonitor.showString",
					"parameters": [
						"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
					],
					"libraries": [
						{
							"jar": "dbfs:/FileStore/jars/test.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "lorealv4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "test_param_copy2",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "test_param_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.nike.dqDataMonitor.showString",
					"parameters": [
						"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
					],
					"libraries": [
						{
							"jar": "dbfs:/FileStore/jars/test.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "lorealv4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "loreal_test1_copy1",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.hypers.etl.core.Application",
					"parameters": [
						"/dbfs/FileStore/test/globalConfig.yaml",
						"/dbfs/FileStore/yaml/first_order.yaml",
						"@formatDateTime(convertTimeZone(getPastTime(1, 'Day'), 'UTC', 'China Standard Time'),'yyyyMMdd')",
						"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
					],
					"libraries": [
						{
							"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "lorealv4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "loreal_test1_copy1_copy1",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "loreal_test1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.hypers.etl.core.Application",
					"parameters": [
						"/dbfs/FileStore/test/globalConfig.yaml",
						"/dbfs/FileStore/yaml/first_order.yaml",
						"@formatDateTime(convertTimeZone(getPastTime(1, 'Day'), 'UTC', 'China Standard Time'),'yyyyMMdd')",
						"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
					],
					"libraries": [
						{
							"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "lorealv4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "loreal_test1_copy1_copy1_copy1",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "loreal_test1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.hypers.etl.core.Application",
					"parameters": [
						"/dbfs/FileStore/test/globalConfig.yaml",
						"/dbfs/FileStore/yaml/first_order.yaml",
						"@formatDateTime(convertTimeZone(getPastTime(1, 'Day'), 'UTC', 'China Standard Time'),'yyyyMMdd')",
						"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
					],
					"libraries": [
						{
							"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
						},
						{
							"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "lorealv4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "test_param_copy3",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.nike.dqDataMonitor.showString",
					"parameters": [
						"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
					],
					"libraries": [
						{
							"jar": "dbfs:/FileStore/jars/test.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "lorealv4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "test_param_copy3_copy1",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.nike.dqDataMonitor.showString",
					"parameters": [
						"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
					],
					"libraries": [
						{
							"jar": "dbfs:/FileStore/jars/test.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "lorealv4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "test_param_copy4",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.nike.dqDataMonitor.showString",
					"parameters": [
						"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
					],
					"libraries": [
						{
							"jar": "dbfs:/FileStore/jars/test.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "lorealv4",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"date": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-11-11T06:53:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}