lorealv2/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "lorealv2"
		},
		"allpurposedcluster_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'allpurposedcluster'"
		},
		"lorealv4_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'lorealv4'"
		},
		"allpurposedcluster_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1115-100811-3wsmdq3m"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Loreal_test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "loreal_test1-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test1-2",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "loreal_test1-1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test1-3",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "loreal_test1-2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test2-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test2.yaml",
								"20221121",
								"{\"{dt}\": \"20221121\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test2-2",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "loreal_test2-1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test2.yaml",
								"20221121",
								"{\"{dt}\": \"20221121\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-11-03T04:01:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lorealv4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Loreal_test_on_all_purpose')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "loreal_test1-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "allpurposedcluster",
							"type": "LinkedServiceReference",
							"parameters": {
								"spark.sql.hive.metastore.version": "3.1.0",
								"javax.jdo.option.ConnectionPassword": "Ab123456",
								"javax.jdo.option.ConnectionDriverName": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
								"javax.jdo.option.ConnectionURL": "jdbc:sqlserver://adbloreal.database.windows.net:1433;database=hms;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;",
								"javax.jdo.option.ConnectionUserName": "loreal",
								"spark.sql.hive.metastore.jars": "/databricks/hive_metastore_jars/*",
								"spark.driver.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.executor.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.sql.sources.partitionOverwriteMode": "dynamic",
								"spark.sql.shuffle.partitions": "200",
								"spark.network.timeout": "600000",
								"spark.serializer": "org.apache.spark.serializer.KryoSerializer",
								"spark.kryoserializer.buffer.max": "1024m"
							}
						}
					},
					{
						"name": "loreal_test1-2",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "loreal_test1-1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "allpurposedcluster",
							"type": "LinkedServiceReference",
							"parameters": {
								"spark.sql.hive.metastore.version": "3.1.0",
								"javax.jdo.option.ConnectionPassword": "Ab123456",
								"javax.jdo.option.ConnectionDriverName": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
								"javax.jdo.option.ConnectionURL": "jdbc:sqlserver://adbloreal.database.windows.net:1433;database=hms;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;",
								"javax.jdo.option.ConnectionUserName": "loreal",
								"spark.sql.hive.metastore.jars": "/databricks/hive_metastore_jars/*",
								"spark.driver.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.executor.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.sql.sources.partitionOverwriteMode": "dynamic",
								"spark.sql.shuffle.partitions": "200",
								"spark.network.timeout": "600000",
								"spark.serializer": "org.apache.spark.serializer.KryoSerializer",
								"spark.kryoserializer.buffer.max": "1024m"
							}
						}
					},
					{
						"name": "loreal_test1-3",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "loreal_test1-2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "allpurposedcluster",
							"type": "LinkedServiceReference",
							"parameters": {
								"spark.sql.hive.metastore.version": "3.1.0",
								"javax.jdo.option.ConnectionPassword": "Ab123456",
								"javax.jdo.option.ConnectionDriverName": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
								"javax.jdo.option.ConnectionURL": "jdbc:sqlserver://adbloreal.database.windows.net:1433;database=hms;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;",
								"javax.jdo.option.ConnectionUserName": "loreal",
								"spark.sql.hive.metastore.jars": "/databricks/hive_metastore_jars/*",
								"spark.driver.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.executor.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.sql.sources.partitionOverwriteMode": "dynamic",
								"spark.sql.shuffle.partitions": "200",
								"spark.network.timeout": "600000",
								"spark.serializer": "org.apache.spark.serializer.KryoSerializer",
								"spark.kryoserializer.buffer.max": "1024m"
							}
						}
					},
					{
						"name": "loreal_test2-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test2.yaml",
								"20221121",
								"{\"{dt}\": \"20221121\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "allpurposedcluster",
							"type": "LinkedServiceReference",
							"parameters": {
								"spark.sql.hive.metastore.version": "3.1.0",
								"javax.jdo.option.ConnectionPassword": "Ab123456",
								"javax.jdo.option.ConnectionDriverName": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
								"javax.jdo.option.ConnectionURL": "jdbc:sqlserver://adbloreal.database.windows.net:1433;database=hms;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;",
								"javax.jdo.option.ConnectionUserName": "loreal",
								"spark.sql.hive.metastore.jars": "/databricks/hive_metastore_jars/*",
								"spark.driver.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.executor.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.sql.sources.partitionOverwriteMode": "dynamic",
								"spark.sql.shuffle.partitions": "200",
								"spark.network.timeout": "600000",
								"spark.serializer": "org.apache.spark.serializer.KryoSerializer",
								"spark.kryoserializer.buffer.max": "1024m"
							}
						}
					},
					{
						"name": "loreal_test2-2",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "loreal_test2-1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test2.yaml",
								"20221121",
								"{\"{dt}\": \"20221121\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "allpurposedcluster",
							"type": "LinkedServiceReference",
							"parameters": {
								"spark.sql.hive.metastore.version": "3.1.0",
								"javax.jdo.option.ConnectionPassword": "Ab123456",
								"javax.jdo.option.ConnectionDriverName": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
								"javax.jdo.option.ConnectionURL": "jdbc:sqlserver://adbloreal.database.windows.net:1433;database=hms;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;",
								"javax.jdo.option.ConnectionUserName": "loreal",
								"spark.sql.hive.metastore.jars": "/databricks/hive_metastore_jars/*",
								"spark.driver.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.executor.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.sql.sources.partitionOverwriteMode": "dynamic",
								"spark.sql.shuffle.partitions": "200",
								"spark.network.timeout": "600000",
								"spark.serializer": "org.apache.spark.serializer.KryoSerializer",
								"spark.kryoserializer.buffer.max": "1024m"
							}
						}
					},
					{
						"name": "loreal_test3-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test3.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "allpurposedcluster",
							"type": "LinkedServiceReference",
							"parameters": {
								"spark.sql.hive.metastore.version": "3.1.0",
								"javax.jdo.option.ConnectionPassword": "Ab123456",
								"javax.jdo.option.ConnectionDriverName": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
								"javax.jdo.option.ConnectionURL": "jdbc:sqlserver://adbloreal.database.windows.net:1433;database=hms;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;",
								"javax.jdo.option.ConnectionUserName": "loreal",
								"spark.sql.hive.metastore.jars": "/databricks/hive_metastore_jars/*",
								"spark.driver.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.executor.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.sql.sources.partitionOverwriteMode": "dynamic",
								"spark.sql.shuffle.partitions": "200",
								"spark.network.timeout": "600000",
								"spark.serializer": "org.apache.spark.serializer.KryoSerializer",
								"spark.kryoserializer.buffer.max": "1024m"
							}
						}
					},
					{
						"name": "loreal_test4-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test4.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "allpurposedcluster",
							"type": "LinkedServiceReference",
							"parameters": {
								"spark.sql.hive.metastore.version": "3.1.0",
								"javax.jdo.option.ConnectionPassword": "Ab123456",
								"javax.jdo.option.ConnectionDriverName": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
								"javax.jdo.option.ConnectionURL": "jdbc:sqlserver://adbloreal.database.windows.net:1433;database=hms;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;",
								"javax.jdo.option.ConnectionUserName": "loreal",
								"spark.sql.hive.metastore.jars": "/databricks/hive_metastore_jars/*",
								"spark.driver.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.executor.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.sql.sources.partitionOverwriteMode": "dynamic",
								"spark.sql.shuffle.partitions": "200",
								"spark.network.timeout": "600000",
								"spark.serializer": "org.apache.spark.serializer.KryoSerializer",
								"spark.kryoserializer.buffer.max": "1024m"
							}
						}
					},
					{
						"name": "loreal_test5-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test5.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "allpurposedcluster",
							"type": "LinkedServiceReference",
							"parameters": {
								"spark.sql.hive.metastore.version": "3.1.0",
								"javax.jdo.option.ConnectionPassword": "Ab123456",
								"javax.jdo.option.ConnectionDriverName": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
								"javax.jdo.option.ConnectionURL": "jdbc:sqlserver://adbloreal.database.windows.net:1433;database=hms;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;",
								"javax.jdo.option.ConnectionUserName": "loreal",
								"spark.sql.hive.metastore.jars": "/databricks/hive_metastore_jars/*",
								"spark.driver.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.executor.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.sql.sources.partitionOverwriteMode": "dynamic",
								"spark.sql.shuffle.partitions": "200",
								"spark.network.timeout": "600000",
								"spark.serializer": "org.apache.spark.serializer.KryoSerializer",
								"spark.kryoserializer.buffer.max": "1024m"
							}
						}
					},
					{
						"name": "loreal_test6-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test6.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "allpurposedcluster",
							"type": "LinkedServiceReference",
							"parameters": {
								"spark.sql.hive.metastore.version": "3.1.0",
								"javax.jdo.option.ConnectionPassword": "Ab123456",
								"javax.jdo.option.ConnectionDriverName": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
								"javax.jdo.option.ConnectionURL": "jdbc:sqlserver://adbloreal.database.windows.net:1433;database=hms;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;",
								"javax.jdo.option.ConnectionUserName": "loreal",
								"spark.sql.hive.metastore.jars": "/databricks/hive_metastore_jars/*",
								"spark.driver.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.executor.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
								"spark.sql.sources.partitionOverwriteMode": "dynamic",
								"spark.sql.shuffle.partitions": "200",
								"spark.network.timeout": "600000",
								"spark.serializer": "org.apache.spark.serializer.KryoSerializer",
								"spark.kryoserializer.buffer.max": "1024m"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-11-03T04:01:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/allpurposedcluster')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestCall')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteWebAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://',pipeline().parameters.DatabricksWorkspaceID,'.azuredatabricks.net/api/2.1/jobs/run-now')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat('{\"job_id\":',pipeline().parameters.JobID,'}')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
							}
						}
					},
					{
						"name": "Wait Until Job Completes",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "ExecuteWebAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals(variables('JobStatus'),'Running'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check Job Run API",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://',pipeline().parameters.DatabricksWorkspaceID,'.azuredatabricks.net/api/2.1/jobs/runs/get?run_id=',activity('ExecuteWebAPI').output.run_id)",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {},
										"authentication": {
											"type": "MSI",
											"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
										}
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Check Job Run API",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "JobStatus",
										"value": {
											"value": "@if(\nor(\nequals(activity('Check Job Run API').output.state.life_cycle_state, 'PENDING'), equals(activity('Check Job Run API').output.state.life_cycle_state, 'RUNNING')\n),\n'Running',\nactivity('Check Job Run API').output.state.result_state\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": {
											"value": "@pipeline().parameters.WaitSeconds",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"JobID": {
						"type": "string",
						"defaultValue": "956609002501450"
					},
					"DatabricksWorkspaceID": {
						"type": "string",
						"defaultValue": "adb-3936566003135075.15"
					},
					"WaitSeconds": {
						"type": "int",
						"defaultValue": 30
					}
				},
				"variables": {
					"JobStatus": {
						"type": "String",
						"defaultValue": "Running"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-11-29T08:57:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestCallWitchParamter')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteWebAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://',pipeline().parameters.DatabricksWorkspaceID,'.azuredatabricks.net/api/2.1/jobs/run-now')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat('{\"job_id\":',pipeline().parameters.JobID,',\"jar_params\":[\"/dbfs/FileStore/test/globalConfig.yaml\",\"/dbfs/FileStore/test/hive_test.yaml\",\"20221119\",\"{\\\"{dt}\\\":\\\"20221119\\\"}\"]','}')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
							}
						}
					},
					{
						"name": "Wait Until Job Completes",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "ExecuteWebAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals(variables('JobStatus'),'Running'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check Job Run API",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://',pipeline().parameters.DatabricksWorkspaceID,'.azuredatabricks.net/api/2.1/jobs/runs/get?run_id=',activity('ExecuteWebAPI').output.run_id)",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {},
										"authentication": {
											"type": "MSI",
											"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
										}
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Check Job Run API",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "JobStatus",
										"value": {
											"value": "@if(\nor(\nequals(activity('Check Job Run API').output.state.life_cycle_state, 'PENDING'), equals(activity('Check Job Run API').output.state.life_cycle_state, 'RUNNING')\n),\n'Running',\nactivity('Check Job Run API').output.state.result_state\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": {
											"value": "@pipeline().parameters.WaitSeconds",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"JobID": {
						"type": "string",
						"defaultValue": "855809324049451"
					},
					"DatabricksWorkspaceID": {
						"type": "string",
						"defaultValue": "adb-3936566003135075.15"
					},
					"WaitSeconds": {
						"type": "int",
						"defaultValue": 30
					}
				},
				"variables": {
					"JobStatus": {
						"type": "String",
						"defaultValue": "Running"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-11-29T09:39:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hive_databricks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "hive-3",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test.yaml",
								"20221119",
								"{\"{dt}\":\"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-11-29T11:15:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lorealv4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/param_json_test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "date",
							"value": {
								"value": "@formatDateTime(convertTimeZone(getPastTime(0, 'Day'), 'UTC', 'China Standard Time'),'yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Jar1",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/param_test/globalConfig.yaml",
								"/dbfs/FileStore/test/param_test/pgsql_test.yaml",
								"20221109",
								"{\"{date}\":\"@{variables('date')}\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "test_param",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "test_param",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-11-10T09:20:32Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lorealv4')]",
				"[concat(variables('factoryId'), '/pipelines/test_param')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_param')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "test_param",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.nike.dqDataMonitor.showString",
							"parameters": [
								"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/test.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "date",
							"value": {
								"value": "@formatDateTime(convertTimeZone(getPastTime(0, 'Day'), 'UTC', 'China Standard Time'),'yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "loreal_test1",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/yaml/first_order.yaml",
								"@formatDateTime(convertTimeZone(getPastTime(1, 'Day'), 'UTC', 'China Standard Time'),'yyyyMMdd')",
								"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "test_param_copy1",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "test_param",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.nike.dqDataMonitor.showString",
							"parameters": [
								"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/test.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "test_param_copy2",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "test_param_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.nike.dqDataMonitor.showString",
							"parameters": [
								"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/test.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test1_copy1",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/yaml/first_order.yaml",
								"@formatDateTime(convertTimeZone(getPastTime(1, 'Day'), 'UTC', 'China Standard Time'),'yyyyMMdd')",
								"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test1_copy1_copy1",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "loreal_test1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/yaml/first_order.yaml",
								"@formatDateTime(convertTimeZone(getPastTime(1, 'Day'), 'UTC', 'China Standard Time'),'yyyyMMdd')",
								"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test1_copy1_copy1_copy1",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "loreal_test1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/yaml/first_order.yaml",
								"@formatDateTime(convertTimeZone(getPastTime(1, 'Day'), 'UTC', 'China Standard Time'),'yyyyMMdd')",
								"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "test_param_copy3",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.nike.dqDataMonitor.showString",
							"parameters": [
								"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/test.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "test_param_copy3_copy1",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.nike.dqDataMonitor.showString",
							"parameters": [
								"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/test.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "test_param_copy4",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.nike.dqDataMonitor.showString",
							"parameters": [
								"{\"${pt_brand_code}\":\"1-3CE\",\"${pt_etl_date}\":\"@{variables('date')}\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/test.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-11-11T06:53:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lorealv4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/allpurposedcluster')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "allpurposedcluster",
				"parameters": {
					"spark.sql.hive.metastore.version": {
						"type": "string",
						"defaultValue": "3.1.0"
					},
					"javax.jdo.option.ConnectionPassword": {
						"type": "string",
						"defaultValue": "Ab123456"
					},
					"javax.jdo.option.ConnectionDriverName": {
						"type": "string",
						"defaultValue": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
					},
					"javax.jdo.option.ConnectionURL": {
						"type": "string",
						"defaultValue": "jdbc:sqlserver://adbloreal.database.windows.net:1433;database=hms;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;"
					},
					"javax.jdo.option.ConnectionUserName": {
						"type": "string",
						"defaultValue": "loreal"
					},
					"spark.sql.hive.metastore.jars": {
						"type": "string",
						"defaultValue": "/databricks/hive_metastore_jars/*"
					},
					"spark.driver.extraJavaOptions": {
						"type": "string",
						"defaultValue": "\"-Duser.timezone=Asia/Shanghai\""
					},
					"spark.executor.extraJavaOptions": {
						"type": "string",
						"defaultValue": "\"-Duser.timezone=Asia/Shanghai\""
					},
					"spark.sql.sources.partitionOverwriteMode": {
						"type": "string",
						"defaultValue": "dynamic"
					},
					"spark.sql.shuffle.partitions": {
						"type": "string",
						"defaultValue": "200"
					},
					"spark.network.timeout": {
						"type": "string",
						"defaultValue": "600000"
					},
					"spark.serializer": {
						"type": "string",
						"defaultValue": "org.apache.spark.serializer.KryoSerializer"
					},
					"spark.kryoserializer.buffer.max": {
						"type": "string",
						"defaultValue": "1024m"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3936566003135075.15.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('allpurposedcluster_accessToken')]"
					},
					"existingClusterId": "[parameters('allpurposedcluster_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lorealv4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3936566003135075.15.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('lorealv4_accessToken')]"
					},
					"instancePoolId": "1031-070915-lupin4-pool-lpv41fhn",
					"newClusterNumOfWorker": "1",
					"newClusterSparkConf": {
						"spark.sql.hive.metastore.version": "3.1.0",
						"javax.jdo.option.ConnectionPassword": "Ab123456",
						"javax.jdo.option.ConnectionDriverName": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
						"javax.jdo.option.ConnectionURL ": "jdbc:sqlserver://adbloreal.database.windows.net:1433;database=hms;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;",
						"javax.jdo.option.ConnectionUserName": "loreal",
						"spark.sql.hive.metastore.jars": "/databricks/hive_metastore_jars/*",
						"spark.driver.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
						"spark.executor.extraJavaOptions": "\"-Duser.timezone=Asia/Shanghai\"",
						"spark.sql.sources.partitionOverwriteMode": "dynamic",
						"spark.sql.shuffle.partitions": "200",
						"spark.network.timeout": "600000",
						"spark.serializer": "org.apache.spark.serializer.KryoSerializer",
						"spark.kryoserializer.buffer.max": "1024m"
					},
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "11.3.x-scala2.12",
					"newClusterInitScripts": [
						"dbfs:/infra/bin/init.sh"
					],
					"clusterOption": "Fixed"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Loreal_test_on_job_cluster')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "loreal_test1-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test1-2",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "loreal_test1-1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test1-3",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "loreal_test1-2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test2-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test2.yaml",
								"20221121",
								"{\"{dt}\": \"20221121\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test2-2",
						"type": "DatabricksSparkJar",
						"dependsOn": [
							{
								"activity": "loreal_test2-1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test2.yaml",
								"20221121",
								"{\"{dt}\": \"20221121\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test3-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test3.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test4-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test4.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test5-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test5.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "loreal_test6-1",
						"type": "DatabricksSparkJar",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mainClassName": "com.hypers.etl.core.Application",
							"parameters": [
								"/dbfs/FileStore/test/globalConfig.yaml",
								"/dbfs/FileStore/test/hive_test6.yaml",
								"20221119",
								"{\"{dt}\": \"20221119\"}"
							],
							"libraries": [
								{
									"jar": "dbfs:/FileStore/jars/jar_test/better_files_2_12_3_8_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/commons_email_1_5.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/config_1_3_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_bridge_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_core_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_domain_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_sink_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_source_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_udf_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/dbs_utils_1_0_SNAPSHOT.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/javax_mail_1_5_6.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/jsch_0_1_54.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/mysql_connector_java_8_0_17.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/play_mailer_2_11_7_0_0.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/postgresql_9_4_1212.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/sftp_client_1_0_3.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/snakeyaml_1_25.jar"
								},
								{
									"jar": "dbfs:/FileStore/jars/jar_test/spark_sftp_2_11_1_1_5.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "lorealv4",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-11-03T04:01:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lorealv4')]"
			]
		}
	]
}